---
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import { getCalendar } from '@services/calendar.js';
const calendar = await getCalendar();
---

<script>
  function scrollToMatchday(event) {
  const matchday = event.target.value;
  const matchdayElement = document.getElementById(`${matchday}`);
  matchdayElement.scrollIntoView({ behavior: 'smooth' });

  const selectedMatchdayElement = document.querySelector('.selected');
  if (selectedMatchdayElement) {
    selectedMatchdayElement.classList.remove('selected');
  }
  matchdayElement.classList.add('selected');

}
  function highlightTeam(event) {
    const teamElement = event.target;
    const teamName = teamElement.getAttribute('id');
    const allTeamElements = document.querySelectorAll(`[id='${teamName}']`);
    const alreadyHighlighted = document.querySelectorAll('.highlight');

    alreadyHighlighted.forEach((element) => {
      element.classList.remove('highlight');
    });

    allTeamElements.forEach((element) => {
      element.classList.add('highlight');
    });
  }

  window.addEventListener('DOMContentLoaded', () => {
    const teamElements = document.querySelectorAll('.teams');
    teamElements.forEach((teamElement) => {
      teamElement.addEventListener('click', highlightTeam);
    });

    const selectElement = document.querySelector('#matchday-select');
    selectElement.addEventListener('change', scrollToMatchday);

    const scrollToTopButton = document.querySelector(
      '.scroll-to-top'
    ) as HTMLElement;
    scrollToTopButton.style.display = 'none';
    scrollToTopButton.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    });

    window.addEventListener('scroll', () => {
      if (window.pageYOffset > 0) {
        scrollToTopButton.style.display = 'block';
      } else {
        scrollToTopButton.style.display = 'none';
      }
    });
  });
</script>

<Layout
  title="Calendario"
  description="Calendario de todos los partidos de la Liga Santander"
>
  <Container>
    <div class="flex justify-center">
      <select
        class="border border-gray-300 text-sm rounded-lg block w-full max-w-xs p-2.5 bg-gw-white items-center"
        id="matchday-select"
      >
        <option disabled selected>Escoge una jornada</option>
        {
          calendar.map(({ numJornada }) => (
            <option value={numJornada}>{numJornada}</option>
          ))
        }
      </select>
    </div>

    <div class="flex flex-wrap gap-8 justify-center py-6">
      {
        calendar.map(({ numJornada, date, matches }) => (
          <table class="table table-compact table-zebra w-80">
            <thead>
              <tr>
                <td
                  id={numJornada}
                  class="text-center bg-gw-grey text-gw-white text-xl"
                  colspan="3"
                >
                  {numJornada}
                </td>
              </tr>
              <td
                class="text-center bg-gw-grey text-gw-white text-xs"
                colspan="3"
              >
                {date}
              </td>
            </thead>

            <tbody>
              {matches.map(({ team1, result, team2 }) => (
                <tr>
                  <td
                    id={team1}
                    class="teams text-left p-2 text-base cursor-pointer w-32"
                  >
                    {team1}
                  </td>
                  <td class="text-center p-2 font-semibold text-base">
                    {result === '00h' || result === '15h' || result === '30h' ? 'Por definir' : result}
                  </td>
                  <td
                    id={team2}
                    class="teams text-right p-2 text-base cursor-pointer w-32"
                  >
                    {team2}
                  </td>
                </tr>
              ))}
            </tbody>
          </table>
        ))
      }
    </div>
    <div
      class="scroll-to-top fixed bottom-0 right-0 p-5 bg-gw-red m-6 rounded-lg text-gw-white cursor-pointer"
    >
      <i class="fa-solid fa-angle-up rounded-full fa-lg"></i>
    </div>
  </Container>
</Layout>

<style>
  .highlight {
    background-color: #ef233c !important;
    color: #fff !important;
    transition: background-color 0.3s ease-in-out !important;
    font-weight: 500;
  }

  .selected {
    background-color: #ef233c !important;
    transition: background-color 0.5s ease-out;
  }

  
</style>
