---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import { getArticlesAll } from '@services/articles.js';
const articlesAll = await getArticlesAll();
---

<Layout
  title="Artículos"
  description="Todos los artículos relacionados con la Liga Santander"
>
  <Container>
    <div class="overflow-x-auto flex flex-wrap gap-6 w-full py-6 justify-center">
      
      {
        articlesAll.sort((a, b) => b.createDate - a.createDate).map(({ title, link, image, domain, createDate }) => {
         const date = new Date(createDate);
         const dateES = date.toLocaleDateString('es-ES');

          return (
            <div class="card w-96 card-compact bg-base-100 shadow-xl h-72 mb-6">
              <figure>
                <a href={link} title="Ir al artículo" target="_blank">
                  <img class="w-96 h-auto" src={image} alt={title} />
                </a>
              </figure>
              <div class="card-body">
                <a href={link} class="text-center self-center" title="Ir al artículo" target="_blank">
                  <h2 class="card-title text-center self-center">{title}</h2>
                </a>
                <div class="flex mt-2 items-center content-between">
                  {domain === 'sport' && (
                    <a
                      href="https://www.sport.es/es/laliga/"
                      class="flex-1 text-base font-semibold hover:text-gw-red" title="Diario Sport" target="_blank"
                    >
                      Diario {domain.charAt(0).toUpperCase() + domain.slice(1)}
                    </a>
                  )}
                  {domain === 'as' && (
                    <a
                      href="https://as.com/futbol/primera/"
                      class="flex-1 text-base font-semibold hover:text-gw-red" title="Diario AS" target="_blank"
                    >
                      Diario {domain.charAt(0).toUpperCase() + domain.slice(1)}
                    </a>
                  )}
                    <p class="text-center font-semibold text-gw-grey2">{dateES}</p>
                  <a
                    href={link}
                    class="flex place-items-center gap-2 text-base text-gray-600 transition-all duration-500 hover:text-gw-red hover:translate-x-2" title="Ir al artículo" target="_blank"
                  >
                    <p class="text-right text-base font-semibold">
                      Ir al artículo
                    </p>
                    <i class="fa-solid fa-arrow-right fa mt-1" />
                  </a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </Container>
</Layout>
